<div class="button-content" fxLayout="row">
  <div fxFlex="1"></div>
  <button
    *ngIf="hasAdminLogged()"
    mat-raised-button
    color="primary"
    [style.marginTop.px]="10"
    (click)="openDialog('Add', {})">
    Nuevo
  </button>
</div>

<div class="table-content">
  <p><span [appFontSize]="'20px'">Cursos</span></p>
  <table
    #mytable
    mat-table
    [dataSource]="courses"
    class="mat-elevation-z8 course-table">
    <!-- Id Column -->
    <ng-container matColumnDef="idCourse">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.idCourse }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">
        {{ element.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>Duracion</th>
      <td mat-cell *matCellDef="let element">
        {{ element.startDate | durationInWeeks: element.endDate }} Semanas
      </td>
    </ng-container>

    <ng-container matColumnDef="professor">
      <th mat-header-cell *matHeaderCellDef>Profesor</th>
      <td mat-cell *matCellDef="let element">
        {{ element.professor.firstName | concat: element.professor.lastName }}
      </td>
    </ng-container>

    <!-- Action Column -->
    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" class="action-link">
        <button
          *ngIf="hasAdminLogged()"
          mat-button
          (click)="openDialog('Update', element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button [routerLink]="['/cursos/details', element.idCourse]">
          <mat-icon>visibility</mat-icon>
        </button>
        <button
          *ngIf="hasAdminLogged()"
          mat-button
          color="warn"
          (click)="openDialog('Delete', element)"
          [ngStyle]="{ color: 'red' }">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
