<h2 mat-dialog-title>{{ action }} Curso</h2>

<div mat-dialog-content>
  <div *ngIf="action !== 'Delete'; else elseTemplate">
    <form [formGroup]="registerForm">
      <div class="tab-content">
        <div class="content-container tab-content-height">
          <div fxLayout="column" fxLayoutGap="10px">
            <mat-form-field appearance="fill">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="name" />
              <mat-error *ngIf="registerForm.get('name')?.errors?.['required']">
                Ingrese un nombre
              </mat-error>
              <mat-error *ngIf="registerForm.get('name')?.errors?.['pattern']">
                Ingrese un nombre valido
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Fecha de Inicio</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="startDate" />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Fecha de Finalizacion</mat-label>
              <input
                matInput
                [matDatepicker]="picker2"
                formControlName="endDate" />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matSuffix
                [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Cantidad de Horas</mat-label>
              <input matInput formControlName="amountHours" type="number" />
              <mat-error
                *ngIf="registerForm.get('amountHours')?.errors?.['required']">
                Ingrese un valor
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Profesor</mat-label>
              <mat-select formControlName="professor">
                <mat-option
                  *ngFor="let professor of professors"
                  [value]="professor.idUser"
                  >{{ professor.firstName | concat: professor.lastName }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="registerForm.get('professor')?.errors?.['required']">
                Seleccione un Profesor
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </div>
  <ng-template #elseTemplate>
    Esta seguro de eliminar el curso
    <b>{{ local_data.name }} </b>?
  </ng-template>
</div>

<div
  fxLayout="row"
  fxLayoutAlign="end end"
  [style.marginTop.px]="10"
  fxLayoutGap="5px">
  <button mat-raised-button color="secondary" (click)="closeDialog()">
    Cancelar
  </button>
  <div *ngIf="action !== 'Delete'; else elseBlock">
    <button
      mat-raised-button
      color="primary"
      (click)="doAction()"
      [disabled]="!registerForm.valid">
      Guardar
    </button>
  </div>
  <ng-template #elseBlock
    ><button mat-raised-button color="primary" (click)="doAction()">
      Confirmar
    </button></ng-template
  >
</div>
