<router-outlet></router-outlet>
<mat-toolbar color="primary">
  <div>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <a mat-button routerLink="/" routerLinkActive="active">CoderHouse</a>
  <span fxFlex></span>
  <button mat-button *ngFor="let item of toolbarItems">
    <mat-icon class="mr">{{ item.icon }}</mat-icon>
    {{ item.label }}
  </button>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav
    #sidenav
    class="sidenav"
    [ngStyle]="{ 'width.em': sidenavWidth }"
    fxLayout="column"
    mode="side"
    opened="true">
    <div fxLayout="column">
      <mat-nav-list>
        <a mat-list-item routerLink="/cursos/list" routerLinkActive="active">
          <mat-icon mat-list-icon class="text-white">assignment</mat-icon>
          <div fxFlex="10"></div>
          Cursos
        </a>
        <a mat-list-item routerLink="/alumnos/list" routerLinkActive="active">
          <mat-icon mat-list-icon class="text-white">face</mat-icon>
          <div fxFlex="10"></div>
          Alumnos
        </a>
        <a
          mat-list-item
          routerLink="/inscripciones/list"
          routerLinkActive="activebutton">
          <mat-icon mat-list-icon class="text-white">description</mat-icon>
          <div fxFlex="10"></div>
          Inscripciones
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
