<ul class="nav nav-pills flex-column mb-auto">
  <li class="nav-item">
    <a href="#" class="nav-link active" aria-current="page">
      <svg class="bi me-2" width="16" height="16">
        <use xlink:href="#home"></use>
      </svg>
      Acerca de mi
    </a>
  </li>
  <li>
    <a href="#" class="nav-link link-dark">
      <svg class="bi me-2" width="16" height="16">
        <use xlink:href="#speedometer2"></use>
      </svg>
      Portfolio
    </a>
  </li>
  <li>
    <a href="#" class="nav-link link-dark">
      <svg class="bi me-2" width="16" height="16">
        <use xlink:href="#table"></use>
      </svg>
      Contacto
    </a>
  </li>
</ul>
